# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local database file
todosapp.db

# Environment variables and secrets
.env
env/
venv/
.venv/

# Editor / IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
